# Assignment 01
# Subject: WM-ASDS04
# Name: Al-Farabi Akash
# Roll: 20229003

####  1. Write a Python program to count the number of characters (character frequency) in a string.
####  Sample String : google.com
####  Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
sample_str = 'google.com'
result = {}
for i in sample_str:

    try:
        result[i]
        result[i]= result[i]+1
    except:        
        result[i]=1
    
print('Expected Result : ',result)

Expected Result :  {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

#### 2. Write a Python program to check if a given key already exists in a dictionary.

In [ ]:
store_dict={'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

input_key= input()

if input_key in store_dict.keys():
    print("Key is present in the dictionary.")
else:
    print("Key is absent")

l
Key is present in the dictionary.

#### 3. Write a Python program that accepts a sequence of comma-separated numbers from the user and generates a list and a tuple of those numbers. Sample data : 1, 5, 7, 23
#### Expected Output :
#### List : ['1', ' 5', ' 7', ' 23']
#### Tuple : ('1', ' 5', ' 7', ' 23')

In [ ]:
# sample_data = '1, 5, 7, 23'
sample_data = input()
new_data = sample_data.split(", ")
list_data = new_data
tuple_data = tuple(new_data)
print('List : ',new_data)
print('Tuple : ',tuple_data)

1, 6, 2, 7
List :  ['1', '6', '2', '7']
Tuple :  ('1', '6', '2', '7')

#### 4. Write a Python program to calculate the number of days between two dates. 
##### Sample dates : (2014, 7, 2), (2014, 7, 11)   Expected output : 9 days

In [ ]:
from datetime import datetime
d1 = '2014, 7, 2'
d2 = '2014, 7, 11'

date_d1 = datetime.strptime(d1, '%Y, %m, %d').date()
date_d2 = datetime.strptime(d2, '%Y, %m, %d').date()
difference =date_d2-date_d1
print('Expected output :',difference.days, 'days')

Expected output : 9 days

#### 5. Write a Python program to solve (x + y) * (x + y). Test Data : x = 4, y = 3
#### Expected Output : (4 + 3) ^ 2) = 49

In [ ]:
# x=4
# y=3

x=int(input('x= '))
y=int(input('y= '))
result = (x+y)*(x+y)
print('Expected Output : (',x,'+',y,')^2)=', result)

x= 5
y= 6
Expected Output : ( 5 + 6 )^2)= 121

#### 6. Write a Python program to compute the future value of a specified principal amount,rate of interest, and number of years. 
#### Test Data : amt = 10000, int = 3.5, years = 7,    Expected Output : 12722.79

In [ ]:
amt = 10000
intr = 3.5
years = 7

amt=float(input('principal amount= '))
intr=float(input('rate of interest= '))
years=float(input('number of years= '))


future_value = amt *((1 +(intr/100))**years)
future_value = round(future_value,2)

print('Expected Output : ',future_value)

principal amount= 10000
rate of interest= 3.5
number of years= 7
Expected Output :  12722.79

#### 7. Write a Python program that removes duplicate elements from a given array of numbers so that each element appears only once and returns the new length of the array. Sample Input: [0,0,1,1,2,2,3,3,4,4,4]
#### Sample Output: The list of unique numbers: [0,1,2,3,4]  length of the unique list : 5

In [ ]:
sample_data = [0,0,1,1,2,2,3,3,4,4,4]
# sample_data = input()

new_list = list(dict.fromkeys(sample_data))

print('The list of unique numbers: ',new_list, 'length of the unique list :',len(new_list))

The list of unique numbers:  [0, 1, 2, 3, 4] length of the unique list : 5

#### 8. Write a Python program to sort (ascending and descending) a dictionary by key value.

In [ ]:
my_dict= {'g': 2, 'o': 3, 'l': 1, 'e': 1, 'c': 1, 'm': 1}

new_dict_asc = dict(sorted(my_dict.items())) 
new_dict_dec = dict(sorted(my_dict.items(),  reverse = True)) 

print('Sorted in ascending order',new_dict_asc)
print('Sorted in descending order', new_dict_dec)

Sorted in ascending order {'c': 1, 'e': 1, 'g': 2, 'l': 1, 'm': 1, 'o': 3}
Sorted in descending order {'o': 3, 'm': 1, 'l': 1, 'g': 2, 'e': 1, 'c': 1}

9. Write a Python program to add key to a dictionary. Go to the editor
Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
sample_dict = {0:10, 1:20}
print('Sample data: ',sample_dict)
sample_dict.update({2:30})
print('Expected data: ',sample_dict)

Sample data:  {0: 10, 1: 20}
Expected data:  {0: 10, 1: 20, 2: 30}

#### 10. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels. 
Sample Python dictionary data and list labels:

exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
            }
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame.from_dict(exam_data)
df

np_labels= np.array(labels)
df['labels']=np_labels.tolist()

print('New Data Frame: ')
df

New Data Frame:

     name  score  attempts qualify labels
0    Arif   12.5         1     yes      a
1    Asir    9.0         3      no      b
2    Arik   16.5         2     yes      c
3    Anis    NaN         3      no      d
4    Anil    9.0         2      no      e
5  Ashish   20.0         3     yes      f
6   Anahi   14.5         1     yes      g
7    Alia    NaN         1      no      h
8   Alvin    8.0         2      no      i
9    Asim   19.0         1     yes      j